vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Mar 2013 05:13:13 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|WIN-KL383QE6E09\\Administrator
vti_modifiedby:SR|WIN-KL383QE6E09\\Administrator
vti_timecreated:TR|13 Mar 2013 05:13:13 -0000
vti_cacheddtm:TX|13 Mar 2013 05:13:13 -0000
vti_filesize:IR|14724
vti_cachedlinkinfo:VX|Q|http://fonts.googleapis.com/css S|../webfonts/iconFont.eot S|../webfonts/iconFont.eot S|../webfonts/iconFont.svg S|../webfonts/iconFont.woff S|../webfonts/iconFont.ttf
vti_cachedsvcrellinks:VX|NQHS|http://fonts.googleapis.com/css FSUS|assets/webfonts/iconFont.eot FSUS|assets/webfonts/iconFont.eot FSUS|assets/webfonts/iconFont.svg FSUS|assets/webfonts/iconFont.woff FSUS|assets/webfonts/iconFont.ttf
vti_backlinkinfo:VX|
