vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Mar 2013 05:17:46 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|WIN-KL383QE6E09\\Administrator
vti_modifiedby:SR|WIN-KL383QE6E09\\Administrator
vti_timecreated:TR|26 Feb 2013 10:38:25 -0000
vti_backlinkinfo:VX|direction/m6f1.html direction/majorfield_index.html news/2013226192529.html direction/title.html message/message.aspx news/2013226194352.html direction/m5f3.html direction/left.html direction/m4f3.html direction/m4f2.html direction/m4f1.html direction/m5f1.html direction/m5f2.html direction/majorfield_select.html direction/m6f3.html direction/m6f2.html direction/m1f3.html direction/majorfield_indexs.html direction/m2f3.html direction/m2f2.html direction/m1f1.html direction/m1f2.html direction/m3f3.html direction/m3f2.html direction/m3f1.html direction/m2f1.html
vti_nexttolasttimemodified:TW|13 Mar 2013 05:17:25 -0000
vti_cacheddtm:TX|13 Mar 2013 05:17:46 -0000
vti_filesize:IR|14724
vti_cachedlinkinfo:VX|Q|http://fonts.googleapis.com/css S|../webfonts/iconFont.eot S|../webfonts/iconFont.eot S|../webfonts/iconFont.svg S|../webfonts/iconFont.woff S|../webfonts/iconFont.ttf
vti_cachedsvcrellinks:VX|NQHS|http://fonts.googleapis.com/css FSUS|assets/webfonts/iconFont.eot FSUS|assets/webfonts/iconFont.eot FSUS|assets/webfonts/iconFont.svg FSUS|assets/webfonts/iconFont.woff FSUS|assets/webfonts/iconFont.ttf
